/* ChatBot.css */
/* .rcw-new-message {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .rcw-new-message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .rcw-new-message-upload {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .rcw-new-message-upload img {
    width: 24px;
    height: 24px;
  } */
  
  /* Custom launcher button */
  /* .rcw-launcher {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  #logo{
    width: 100px;
  } */